@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passero+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    margin-top: -29px;
    text-align: center;
    font-size: 1.3em;
}
.primeiro{
    background-image: url('imagens/background001.jpg');
}
header p {}

main {
    border: 1px solid black;
    margin-top: -20px;
    padding: 10px;
}