.caixa {
    height: 200px;
    width: 150px;
    background-color: lightblue;
    border-color: darkblue;
    padding: 10px 30px 55px 30px;
    line-height: 20px;
    
}
div:hover{
    font-family: cursive;
    background-color: lightgreen;
    color: indigo;
    text-transform: uppercase;
    height: 400px;
    transition: background-color 0.5s ease;
    
}