h1 {
    text-align: center;
}

p {
    text-align: justify;
}
.negrito{
    text-align: center;
    font-weight: bold;
}

div {
    height: 300px;
    width: 300px;
    border: 5px solid red;
    padding: 15px;
    margin: auto;
}

.caixa:focus {
    background: aqua;
    outline: 5px dashed salmon;

}

.caixa:hover {
    border: 15px solid darkorchid;
    transition: border 0.6s ease;
    background-color: red;
}
div::before {
    content: '📚';
    bottom: 10px;
}
div:active::before{
    content: ' 🎒 ';
    color: blue;
    
}